<h2>All Pages</h2>

<%= render :partial => "functions"%>
<hr/>
<table border="1">
<thead>
  <th>checkbox</th>
  <th>Page Name</th>
  <th>Author</th>
  <th>Modify Time</th>
</thead>
<% @wiki_pages.each do |wiki_page|-%>
<tr>
  <td><input type="checkbox"/></td>
  <td><%= link_to wiki_page.name, project_wiki_path(params[:project_id], wiki_page.name) %></td>
  <td><%= wiki_page.revised_by %></t>
  <td><%= wiki_page.revised_at %></td>
</tr>
<% end -%>
</table>

</pre>
<hr/>
<%= render :partial => "functions"%>
